@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.headline-text {
    font-family: 'Source Code Pro', monospace;
    color: white;
    position: relative;
    margin-top: auto;
    margin-left: auto;
    text-align: center;
    top: 80px;
}

.headline-subtext {
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 28px;
    color: rgba(255,255,255,.70);
    margin: 0 auto;
    position: relative;
    top: 70px;
}

.headline-subtext {
    animation: animated-text 1s steps(8,end) 1s 1 normal both,
             animated-cursor 600ms steps(8,end) infinite;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 140px;}
  }
  
  /* cursor animations */
  
@keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
}