@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.card-PythonCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #252525;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 500px;
    width: 320px;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.card-contents-PythonCard {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title-PythonCard {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    font-weight: bold;
}

.logo-PythonCard {
   
}

.description-PythonCard {
    font-size: 16px;
    color: rgb(197, 197, 197);
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: -80px;
    margin-top: 80px;
}

.button-PythonCard {
    background-color: #04AA6D;
    color: white;
    font-size: 20px;
    height: 50px;
    display: block;
    width: 200px;
    border-radius: 25px;
    text-decoration: initial;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    position: relative;
    top: 65px
}

.button-PythonCard:hover {
    background-color: #008a57;
}

.button-text-PythonCard {
    padding: 12px 0;
}

.ul-WebFundamentalsCard {
    align-items:flex-start;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    
}