@import url("https://www.w3schools.com/w3css/4/w3.css");

.w3-sidebar {
  background-color: white;
  font-family: "Source Code Pro", monospace;
  font-weight: lighter;
}

.content-tutorialPython {
  color: white;
  margin-right:10%;
  margin-left:10%;
}

.title-content-tutorialPython {
  color: white;
  font-family: "Ubuntu Mono", monospace;
  font-weight: lighter;
  font-size: 35px;
}

.big-title-content-tutorialPython {
  color: white;
  font-family: "Ubuntu Mono", monospace;
  font-size: 25px;
}

.small-title-content-tutorialPython {
  color: white;
  font-family: "Ubuntu Mono", monospace;
  font-size: 20px;
}

.text-content-tutorialPython {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: lighter;
}

.page-tutorialPython {
  display: flex;
  margin-top: 3%;
}

.back-buttons-tutorialPython {
  background-color: rgb(231, 64, 64);
}

.next-buttons-tutorialPython {
  background-color: rgb(10, 190, 10);
}