@import url("https://www.w3schools.com/w3css/4/w3.css");

.w3-sidebar {
  background-color: white;
  font-family: "Source Code Pro", monospace;
  font-weight: lighter;
}

.content-tutorialPython {
  color: white;
  margin-right:10%;
  margin-left:10%;
}

.title-content-tutorialPython {
  color: white;
  font-family: "Ubuntu Mono", monospace;
  font-weight: lighter;
  font-size: 35px;
  margin-bottom: 0px;
}

.big-title-content-tutorialPython {
  color: white;
  font-family: "Ubuntu Mono", monospace;
  font-size: 25px;
}

.small-title-content-tutorialPython {
  color: white;
  font-family: "Ubuntu Mono", monospace;
  font-size: 20px;
}

.text-content-tutorialPython {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-tutorialPython {
  display: flex;
  margin-top: 3%;
}

.back-buttons-tutorialPython {
  background-color: rgb(231, 64, 64);
  border:rgb(231, 64, 64);
  border-radius: 12px;
  padding: 4px 20px;
  font-family: "Source Code Pro",monospace;
}

.back-buttons-tutorialPython:hover {
  background-color: rgb(189, 24, 24);
}

.next-buttons-tutorialPython {
  background-color: rgb(0, 233, 0);
  border:rgb(0, 233, 0);
  border-radius: 12px;
  padding: 4px 20px;
  font-family: "Source Code Pro",monospace;
}

.next-buttons-tutorialPython:hover {
  background-color: rgb(0, 173, 0);
}

.menu-buttons-tutorialPython {
  background-color:rgb(44, 180, 166);
  border: rgb(44, 180, 166);
  border-radius: 12px;
  padding: 4px 15px;
  font-family: "Source Code Pro",monospace;
}

.menu-buttons-tutorialPython:hover {
  background-color:rgb(34, 151, 140);
}

.author-tutorialPython {
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
}

.a-author-tutorialPython {
  color: aqua; 
}

.a-author-tutorialPython:hover {
  color: rgb(0, 182, 182); 
}

.li-content-tutorialPython {
  margin-left: 1%;
  margin-top: 0px;
  margin-bottom: 0px;
}

