.featured-tutorials-grid-card {
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin-top:25px;
}

.featured-tutorials-grid {
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .featured-tutorials-grid {
        flex-direction: column;
    }
  }
